@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #555;
    font-family: cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}